@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgb(124, 9, 9);
}

.text-center {
    text-align: center;
}

.bg-red {
    background: rgb(2, 249, 224);
  /* width: 320px;
    height: 450px;*/
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(4, 241, 201);
    border-radius: 9px;
    cursor: pointer;
    background: rgb(246, 2, 250);
}

.button:hover {
    background-color: darkgoldenrod;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(138, 195, 226);
    border-radius: 5px;
    background: rgb(234, 156, 156);
}